.main-content {
  h2 {
    text-align: center;
    font-weight: bold;
  }

  h4 {
    text-align: center;
    color: $gray;
    margin-bottom: 3rem;
  }

  .point {
    display: none;
  }
}

.accordion {
  margin: 0 -15px;
}

.accordion__title {
  h3 {
    position: relative;
    margin: 0;
    display: block;
    border-bottom: 1px lighten($gray, 35%) solid;
    color: $gray;
    font-size: 2rem;
    padding: 2rem 40px;
    padding-right: 60px;
    transition: 0.1s ease-in;
    cursor: pointer;

    span {
      position: absolute;
      top: 2rem;
      left: 0;
      opacity: 0.5;
      width: 30px;
      display: inline-block;
      text-align: right;
    }

    &:hover {
      text-decoration: none;
      background: lighten($gray, 55%);
    }

    &:active {
      background: lighten($gray, 45%);
    }
  }

  &[aria-expanded='true'] h3,
  &[aria-expanded='true'] h3:hover, {
    background: $gray;
    color: #fff;
  }
}

.accordion__body {
  display: block;
  padding: 2rem;
  border-bottom: 1px lighten($gray, 35%) solid;
  background: lighten($gray, 55%);
  opacity: 1;
  animation: slidedown 0.35s ease-in;
  overflow: hidden;

  li {
    margin-bottom: 0.5rem;
  }
}

.accordion__body--hidden {
  display: none;
  opacity: 0;
}

.accordion__arrow {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 2rem;
  margin-top: -6px;
}

.accordion__arrow::after,
.accordion__arrow::before {
    display: block;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    content: '';
}

.accordion__arrow::before {
    left: 4px;
    transform: rotate(45deg);
}

[aria-expanded='true'] .accordion__arrow::before {
    transform: rotate(-45deg);
}

.accordion__arrow::after {
    right: 4px;
    transform: rotate(-45deg);
}

[aria-expanded='true'] .accordion__arrow::after {
    transform: rotate(45deg);
}

.accordion__arrow::before,
.accordion__arrow::after {
    transition: transform 0.25s ease;
}

@keyframes slidedown {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 1000px;
  }
}

@keyframes move-down {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(5px);
    }
    30% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes move-up {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-5px);
    }
    30% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.accordion__title:hover .accordion__arrow {
    animation-name: move-down;
    animation-duration: 1.5s;
}

.accordion__title[aria-selected='true']:hover .accordion__arrow {
    animation-name: move-up;
    animation-duration: 1.5s;
}

.full-text {
  text-align: center;
  margin: 5rem 0 3rem 0;

  a {
    color: $gradient-to;
    padding: 1rem 2rem;
    border-radius: 30px;
    border: 1px $gradient-to solid;
  }
}

@media (min-width: $screen-md-min) {
  .accordion__title {
    span {
      width: 4rem;
    }
  }
}
