body {
  font-size: 16px;
  padding-top: 50px;
}

h1, h2, h3, h4, h5 {
  font-family: $font-default;
}

strong {
  font-family: $font-bold;
  font-weight: normal;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: #ff8400;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIxMDAlIiBjeT0iMTAwJSIgcj0iMTQxLjQyMTM1NjIzNzMwOTUlIj48c3RvcCBzdG9wLWNvbG9yPSIjNTNiMmFjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNhNGM4NTIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjIzOSIvPjxzdG9wIHN0b3AtY29sb3I9IiNlZDk0NDQiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjU0MiIvPjxzdG9wIHN0b3AtY29sb3I9IiNkOTNjNjciIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjc3OSIvPjxzdG9wIHN0b3AtY29sb3I9IiNiYzViOWMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  /* Android 2.3- hack (needed for the actual radial gradient) */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIxMDAlIiBjeT0iMTAwJSIgcj0iMTQxLjQyMTM1NjIzNzMwOTUlIj48c3RvcCBzdG9wLWNvbG9yPSIjNTNiMmFjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNhNGM4NTIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjIzOSIvPjxzdG9wIHN0b3AtY29sb3I9IiNlZDk0NDQiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjU0MiIvPjxzdG9wIHN0b3AtY29sb3I9IiNkOTNjNjciIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjc3OSIvPjxzdG9wIHN0b3AtY29sb3I9IiNiYzViOWMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+),
      -webkit-gradient(radial, right bottom, 0, right bottom, 723,color-stop(0, rgb(83, 178, 172)),color-stop(0.239, rgb(164, 200, 82)),color-stop(0.542, rgb(237, 148, 68)),color-stop(0.779, rgb(217, 60, 103)),color-stop(1, rgb(188, 91, 156)));
  /* Android 2.3 */
  background-image: -webkit-repeating-radial-gradient(right bottom, circle farthest-corner,rgb(83, 178, 172) 0%,rgb(164, 200, 82) 23.9%,rgb(237, 148, 68) 54.2%,rgb(217, 60, 103) 77.9%,rgb(188, 91, 156) 100%);
  /* IE10+ */
  background-image: repeating-radial-gradient(circle farthest-corner at right bottom,rgb(83, 178, 172) 0%,rgb(164, 200, 82) 23.9%,rgb(237, 148, 68) 54.2%,rgb(217, 60, 103) 77.9%,rgb(188, 91, 156) 100%);
  background-image: -ms-repeating-radial-gradient(right bottom, circle farthest-corner,rgb(83, 178, 172) 0%,rgb(164, 200, 82) 23.9%,rgb(237, 148, 68) 54.2%,rgb(217, 60, 103) 77.9%,rgb(188, 91, 156) 100%);
}

.main-block {
  margin-top: 3rem;
  background: #fff;
  margin: 2rem;
  margin-top: 0;
  border-radius: $notch-radius;
}

.box {
  background: #fff;
  padding: 3rem;
}
