.support-counter {
  text-align: center;
  margin-bottom: 2rem;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 1rem;
    color: $gray;

    span {
      font-weight: bold;
      border: 2px $for solid;
      color: $for;
      padding: 0.5rem 2rem;
      border-radius: 20px;
      font-size: 2rem;
      margin-right: 0.5rem;
    }

    &.nays span {
      color: $against;
      border-color: $against;
    }

    &.abs span {
      color: $neutral;
      border-color: $neutral;
    }
  }
}

.legend {
  text-align: center;
  font-size: 1.25rem;
  width: 130px;
  margin: 0 auto;
  position: relative;
  top: -40px;

  strong {
    font-weight: bold;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 1;
    height: 177px;
    border-right: 3px rgba(0, 0, 0, 0.4) dashed;
    top: -184px;
    transform: rotate(27deg);
    left: 131px;
  }
}
