.support {
  h2 {
    margin-bottom: 3rem;
  }
}

.support-counter {
  margin-bottom: 2rem;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0.5rem 0;
    color: $gray;

    span {
      font-weight: bold;
      border: 2px $for solid;
      color: $for;
      padding: 0.5rem 2rem;
      border-radius: 20px;
      font-size: 2rem;
      margin-right: 0.5rem;
      width: 80px;
      display: inline-block;
      text-align: center;
    }

    &.nays span {
      color: $against;
      border-color: $against;
    }

    &.abs span {
      color: $neutral;
      border-color: $neutral;
    }
  }
}

.legend {
  text-align: center;
  font-size: 1.25rem;
  width: 110px;
  margin: 0 auto;
  position: relative;
  top: -40px;

  strong {
    font-weight: bold;
  }
}

.support-info {
  .warning {
    color: $gradient-to;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .glyphicon {
    font-size: 3rem;
    opacity: 0.5;
    margin-bottom: 20px;
  }
}

@media (min-width: $screen-md-min) {
  .support-info {
    margin-top: 100px;
  }

  .support-counter {
    text-align: center;

    li {
      margin: 0 2rem;
    }
  }

  .legend {
    font-size: 1.5rem;
    width: 150px;
  }
}
